{% extends 'accounts/main.html' %}

{% block content %}


<br>

<div class="row">

	<div class="col-md-7">
		<h5>Products ordered</h5>
		<hr>
		<div class="card card-body">
            <a class="btn btn-primary" href="{% url 'create_order' %}" role="button">Create Order</a>
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
					{% for i in orderlis %}
						<tr>
							<td>{{i.product}}</td>
							<td>{{i.date_created}}</td>
							<td>{{i.status}}</td>
							<td><a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'update_order' i.id %}">Update</a></td>
							<td><a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'delete_order' i.id %}">Delete</a></td>
						</tr>
					{% endfor %}
				</tr>

		
			</table>
		</div>
	</div>

</div>

{% endblock %}
